<h1>List of cheerups</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>

  <% @cheerups.each do |cheerup| %>
    <tr>
      <td><%= cheerup.title %></td>
      <td><%= cheerup.text %></td>
      <td><%= link_to 'Show', cheerup_path(cheerup) %></td>
      <td><%= link_to 'Edit', edit_cheerup_path(cheerup) %></td>
      <td><%= link_to 'Destroy', cheerup_path(cheerup),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
    </tr>
<% end %>
</table>
<%= link_to 'Back', new_cheerup_path %>
