<p>
  <strong>Cheerup:</strong>
  <%= @cheerup.title %>
</p>

<p>
  <strong>Cheered up:</strong>
  <%= @cheerup.text %>
</p>
<%= social_share_button_tag("Share a cheerup on FB & Twitter") %>
<h2>Comment on this cheerup</h2>
<%= render @cheerup.comments %>

<h2>Add a comment:</h2>
<%= render 'form' %>


<%= link_to 'Back', cheerups_path %>
<%= link_to 'Edit', edit_cheerup_path(@cheerup) %>
<%= social_share_button_tag("Share a cheerup on FB & Twitter") %>
