<p>
  <strong>Title:</strong>
  <%= @cheerup.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @cheerup.text %>
</p>

<h2>Comments</h2>
<%= render @cheerup.comments %>

<h2>Add a comment:</h2>
<%= render 'form' %>


<%= link_to 'Back', cheerups_path %>
<%= link_to 'Edit', edit_cheerup_path(@cheerup) %>
