<!DOCTYPE html>
<html>
<head>
  <title>Cheerups</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= image_tag ("http://cabrerainsights.com/wp-content/uploads/2015/10/To-happy-sign.jpg") %>

  <ul>
  <li><a href="#home">Home</a></li>
  <li><a href="http://www.happynews.com/">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style="float:right"><a class="active" href="#about">About</a></li>
</ul>



<%= yield %>

</body>
</html>
